{% extends "base.html" %}

{% block content %}
    <h2>New Blog Post</h2>
    <form action="/newpost" method="post">
        <label>
            <input type = "text" name="title" placeholder="Enter blog title here:"/>
        </label>
    <br>
        <lable>
            <textarea type="text" name="content" placeholder="Content goes here:"></textarea>
        </lable>
    <br>
        <input type = "submit"/>   
    </form>
    <ul>
        {% for blog in blogs %}
            <h2>{{blog.title}}</h2>
            <h3>{{blog.content}}</h3>
        {% endfor %}
    </ul>
{% endblock content %}
